
h1 {
    text-align: center;
    font-weight: 400;
    font-style:italic;
    padding-top: 10%;
}

h2 {
    text-align: center;
    font-weight: 400;
    font-style:italic;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

div.main {
    width:100%;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color:lightskyblue;
}

div.title {
    text-align: center;
    width: 70%;
}

div.pic {
    text-align: center;
    width: 30%;
}

#navbar {
    background-color:black;
    border-bottom: 15px solid burlywood;
    overflow: hidden;
}

#navbar a {
    float:right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    color:crimson;
    background-color:bisque;
}

div.content {
    width:100%;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: bisque;
}

div.pose{
    text-align: center;
    width: 50%; 
}

div.description {
    text-align: left;
    width: 80%;
    padding-top: 10%;
}

p.text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: medium;
}

div.contentone {
    width:100%;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: bisque;
}

img.poseone{
    text-align: center;
    width: 30%; 
    float:right;
}

div.descriptionone {
    text-align: left;
    width: 75%;
    padding-top: 10%;
}

footer {
    background-color: lightskyblue;
    width: 100%;
    bottom: 0;
    position: relative;
}

footer a {
    text-decoration: none;
    color: black;
    font-style: italic;
    float: right;
    font-family:  ‘Playfair Display’, Verdana, Arial, sans-serif;
    background-color: lightskyblue;
    width: 100%;
    bottom: 0;
    padding: 10px;
}

footer a:hover {
    text-decoration: underline;
}

figure {
    padding: 4px;
    margin: auto;
}
  
figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
}

p a {
    color: crimson;
}